/*设置gitalk位置*/
.content{position: static;padding-left: 300px;}
main{height: auto;}
#gitalk-container{padding-left: 300px;}

/* footer css */
.foot{
  border-radius: 50%;
  text-align: center;
}

.about{
  width: auto;
  height: 32px;
  margin-right: 5px;
}

.copyright{
  margin-top: 5px;
}